body {
  width: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  flex-direction: column;
}
/*.nav {
  display: flex;
  align-items: center;
}

.nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: #736557;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav > li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}*/
.nav {
  font-size: 1.2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    /*display: flex;
    align-items: center;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: #736557;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #fff;
    background-color: #4CAF50;
}

.active {
    color: #fff;
    background-color: #4CAF50;
}
.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 400px;
}

.benefit {
  color: #736557;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.benefit > h1 {
  font-size: 2.2em;
  font-weight: 500;
  text-align: center;
}

.benefit > h2 {
  margin: 1.5em;
  padding-left: 150px;
  font-size: 1.5em;
  font-weight: 400;
}

.method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #736557;
  margin-bottom: 100px;
}

.method > h1 {
  font-size: 3em;
}

.method > form {
  margin: 20px;
  font-size: 2em;
}

.method > form > input {
  margin: 20px;
  font-size: 500px;
}
.title {
  margin: auto;
}

.title > h1 {
  font-size: 4em;
  color: #736557;
}

.search {
  margin: auto;
}

#url {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  font-size: 1em;
}

#go_btn {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  font-size: 1em;
  background-color: lightgreen;
}

#methodConfirm {
  width: 300px;
height: 80px;
border-radius: 10px;
font-size: 1em;
background-color: lightgreen;
margin-left: 100px;
margin-top: 100px;
color: #736557;
}

.item_detail {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.item_detail > img {
  height: 360px;
  width: 360px;
}

.detail {
  width: 50%;
  margin-left: 4em;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.quantity {
  align-self: center;
  margin: 30px;
}

#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   text-align: center;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

.offer {
  margin: 100px;
  font-size: 1.5em;
}

.offer > ol {
  display: flex;
  justify-content: space-around;
}

.remind {
  margin: 100px;
  font-size: 1.5em;
  margin-top: 50px;
}

.remind > ol {
  display: flex;
  justify-content: space-around;
}

.password {
  display: flex;
  justify-content: center;
}

.passwordConfirm {
  width: 500px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 19px;
  margin: 100px;
  margin-top: 0;
  width: 300px;
  height: 100px;
  color: #fff;
  font-size: 35px;
}

#buy {
  background-color: #58B14C
}

#cancel {
  background-color: grey;
}

.footer {
  background-color: #736557;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
